<div id="asset-{{ include.id }}" class="image">
  {% if site.data.slab.enable_lightbox %}
    <a href="{{ page.permalink }}/lightbox/#{{ include.id }}" class="view" rel="project-gallery-{{ page.id }}">
  {% endif %}
    <div data-picture data-alt="">
      <div data-src="{{ include.content_url | prepend: site.baseurl }}"></div>
      <div data-src="{{ include.content_url_x2 | prepend: site.baseurl }}" data-media="(-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx)"></div>
      <!--[if (lt IE 9) & (!IEMobile)]>
        <div data-src="{{ include.content_url }}"></div>
      <![endif]-->
      <noscript>
        <img src="{{ include.content_url | prepend: site.baseurl }}" alt="" />
      </noscript>
    </div>
    {% if site.data.slab.enable_lightbox %}
      </a>
    {% endif %}

  {% if include.description %}<p class="asset-description">{{ include.description }}</p>{% endif %}
</div>
