<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-eqiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <title>{% if page_title %}{{ page_title }} - {% endif %}{{ site_title }}</title>
  {% if page_description %}<meta name="description" content="{{ page_description }}" />{% endif %}

  {% if favicon %}<link rel="shortcut icon" href="{{ favicon }}">{% endif %}

  {% if template_css %}<link rel="stylesheet" href="{{ template_css }}" media="screen" />{% endif %}
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ template_base_url }}1/css/ie.css" media="screen" /><![endif]-->

  <script src="{{ cdn_base_url }}assets/dist/dunked-scripts-template.min.js"></script>
  {{ custom_css }}

  {% if not is_preview %}
  <script>this.top.location !== this.location && (this.top.location = this.location);</script>
  <!-- BEGIN Analytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];

  {% if analytics_code %}
  _gaq.push(['_setAccount', '{{ analytics_code }}']);
  _gaq.push(['_trackPageview']);
  {% else %}
  _gaq.push(['_setAccount', 'UA-6564188-11']);
  _gaq.push(['_setDomainName', 'dunked.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  {% endif %}

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
    <!-- END Analytics -->
    {% endif %}

    <!-- BEGIN Open Graph -->
  {% if page_title %}<meta property="og:title" content="{{ page_title }}" />{% endif %}
  {% if page_description %}<meta property="og:description" content="{{ page_description }}" />{% endif %}
  <meta property="og:site_name" content="{{ site_title }}" />
  {% if is_project %}
    {% if project.thumb_url %}<meta property="og:image" content="{{ project.thumb_url }}" />{% endif %}
  {% else %}
    {% if logo %}<meta property="og:image" content="{{ logo }}" />{% endif %}
  {% endif %}
  {% if is_project %}
    <meta property="og:url" content="{{ project.permalink }}" />
  {% elseif is_page %}
    <meta property="og:url" content="{{ page.permalink }}" />
  {% elseif is_tag %}
    {% for tag in tags %}
      {% if tag.active %}<meta property="og:url" content="{{ tag.permalink }}" />{% endif %}
    {% endfor %}
  {% else %}
    <meta property="og:url" content="{{ site_url }}" />
  {% endif %}
  <!-- END Open Graph -->

</head>
<body class="{{ body_class }}">

  <div id="wrapper"{% if site.data.slab.right_sidebar %} class="right-sidebar"{% endif %}>

    <div id="sidebar"{% if site.data.slab.enable_fixed_sidebar %} class="fixed"{% endif %}>
      <header class="site-title">
        <a href="{{ site_url }}">{% if logo or logo_x2 %}
        <div data-picture data-alt="{{ site_title }}">
          {% if logo %}<div data-src="{{ logo }}"></div>{% endif %}
          {% if logo_x2 %}<div data-src="{{ logo_x2 }}" data-width="{{ logo_x2_width }}" data-media="(-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx)"></div>{% endif %}
          {% if logo_x2 and not logo %}<div data-src="{{ logo_x2 }}" data-width="{{ logo_x2_width }}"></div>{% endif %}
          <!--[if (lt IE 9) & (!IEMobile)]>
            {% if logo %}<div data-src="{{ logo }}"></div>
            {% elseif logo_x2 %}<div data-src="{{ logo_x2 }}" data-width="{{ logo_x2_width }}"></div>{% endif %}
          <![endif]-->
          <noscript>
            {% if logo %}<img src="{{ logo }}" alt="{{ site_title }}" />
            {% elseif logo_x2 %}<img src="{{ logo_x2 }}" width="{{ logo_x2_width }}" alt="{{ site_title }}" />{% endif %}
          </noscript>
        </div>
        {% else %}{{ site_title }}{% endif %}</a>
      </header>
      {% if site_tagline %}<p class="site-tagline">{{ site_tagline }}</p>{% endif %}

      {% if site.data.slab.show_navigation %}
      <nav class="nav" role="navigation">
        {{ list_pages({ active_class: 'current-page' }) }}
      </nav>
      {% endif %}

      {% if footer_text %}
      <footer class="footer">
        <p class="footer-text">{{ footer_text }} {{ dunked_branding() }}</p>
      </footer>
      {% endif %}
    </div>

    <div id="content-wrapper">

      <div id="content">
        {% if is_project %}
          <article id="project-{{ project.id }}" class="project">
            {% if site.data.slab.show_page_titles %}<h1 class="title">{{ project.title }}</h1>{% endif %}

            {% if project.description %}<div class="project-description">{{ project.description }}</div>{% endif %}

            {% if project.assets %}
              <div class="project-assets">
                {% for asset in project.assets %}
                  <div id="asset-{{ asset.id }}" class="{{ asset.type }}">
                    {% if asset.type == "image" %}
                      {% if site.data.slab.enable_lightbox %}
                      <a href="{{ project.permalink }}/lightbox/#{{ asset.id }}" class="view" rel="project-gallery-{{ project.id }}">
                      {% endif %}
                        <div data-picture data-alt="">
                          <div data-src="{{ asset.content_url }}"></div>
                          <div data-src="{{ asset.content_url_x2 }}" data-media="(-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx)"></div>
                          <!--[if (lt IE 9) & (!IEMobile)]>
                            <div data-src="{{ asset.content_url }}"></div>
                          <![endif]-->
                          <noscript>
                            <img src="{{ asset.content_url }}" alt="" />
                          </noscript>
                        </div>
                      {% if site.data.slab.enable_lightbox %}
                      </a>
                      {% endif %}
                    {% else %}
                      {{ asset.embed }}
                    {% endif %}

                    {% if asset.description %}<p class="asset-description">{{ asset.description }}</p>{% endif %}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% if site.data.slab.show_project_meta and (project.date_text or project.client or project.role or project.url or project.tags) %}
              <footer class="project-meta clearfix">
                {% if project.date_text %}<div>Date: <span class="date">{{ project.date_text }}</span></div>{% endif %}
                {% if project.client %}<div>Client: <span class="client">{{ project.client }}</span></div>{% endif %}
                {% if project.role %}<div>Role: <span class="role">{{ project.role }}</span></div>{% endif %}
                {% if project.url %}<div>URL: <a href="{{ project.url_escaped }}" class="url" target="_blank">{{ project.pretty_url }}</a></div>{% endif %}
                {% if project.tags %}<div>Tags: <span class="tags">{% for tag in project.tags %}<a href="{{ tag.permalink }}">{{ tag.name }}</a>{% if loop.last != true %}<span class="sep">, </span>{% endif %}{% endfor %}</span></div>{% endif %}
              </footer>
            {% endif %}
          </article>
        {% endif %}

        {% if is_page %}
          <article id="page-{{ page.id }}" class="page">
            {% if site.data.slab.show_page_titles %}<h1 class="title">{{ page.title }}</h1>{% endif %}
            <div class="page-content">{{ page.content }}</div>
          </article>
        {% endif %}

        {% if is_home or is_tag or (is_project and site.data.slab.show_project_thumbs) %}
          <div class="projects-feed">
            <div class="projects-feed-inner clearfix">

              {% import _self as macros %}

              {% if is_home or is_project %}
                {% for project in projects %}
                  {{ macros.project(project, site.data.slab) }}
                {% endfor %}
              {% endif %}

              {% if is_tag %}
                {% for project in tagged_projects %}
                  {{ macros.project(project, site.data.slab) }}
                {% endfor %}
              {% endif %}

              {% macro project(project, site.data.slab) %}
                <article id="project-{{ project.id }}" class="project">
                  <a href="{{ project.permalink }}" title="Permalink to {{ project.title|e }}">
                    {% if project.thumb_url %}
                      <div class="thumb">
                        <div data-picture data-alt="">
                          <div data-src="{{ project.thumb_url }}"></div>
                          {% if project.thumb_url_x2 %}<div data-src="{{ project.thumb_url_x2 }}" data-media="(-webkit-min-device-pixel-ratio: 2),(min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx)"></div>{% endif %}
                          <!--[if (lt IE 9) & (!IEMobile)]>
                            <div data-src="{{ project.thumb_url }}"></div>
                          <![endif]-->
                          <noscript>
                            <img src="{{ project.thumb_url }}" alt="" />
                          </noscript>
                        </div>
                      </div>
                    {% else %}
                      <div class="thumb no-thumb"></div>
                    {% endif %}
                    <div class="overlay">
                      {% if site.data.slab.show_thumbnail_titles %}<h3 class="title">{{ project.title }}</h3>{% endif %}
                    </div>
                  </a>
                </article>
              {% endmacro %}

            <!--END .projects-feed-inner-->
            </div>
          <!--END .projects-feed-->
          </div>
        {# end home/project/tag check #}
        {% endif %}

      <!--END #content-->
      </div>

    <!--END #content-wrapper-->
    </div>
    <div style="clear:both;"></div>

    {% if footer_text %}
    <footer class="footer">
      <p class="footer-text">{{ footer_text }} {{ dunked_branding() }}</p>
    </footer>
    {% endif %}

  <!--END #wrapper-->
  </div>

  {% if is_project %}
  <script type="text/javascript">
  var project_assets = {{ project.assets|json_encode() }};
  </script>
  {% endif %}
  <script src="{{ template_base_url }}1/scripts/jquery-1.10.2.min.js"></script>
  <script src="{{ cdn_base_url }}bower_components/fitvids/jquery.fitvids.js"></script>
  <script src="{{ template_base_url }}1/scripts/lib.min.js?v1.3"></script>
  <script id="dunked-admin-bar-script" data-base="{{ site_url }}" src="{{ admin_bar_js }}"></script>

</body>
</html>
