<!DOCTYPE html>
<html>

  {% include head.html %}

  {% if is_post %}
    <body class="is_project">
  {% else %}
    <body class="is_project">
  {% endif %}

  <!-- <body class="{{ body_class }}"> -->

    <div id="wrapper"{% if site.data.slab.right_sidebar %} class="right-sidebar"{% endif %}>

      {% include header.html %}

      {% comment %}
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
      {% endcomment %}

      <div id="content-wrapper">
        <div id="content">
          {{ content }}



        <!--END #content-->
        </div>
      <!--END #content-wrapper-->
      </div>
      <div style="clear:both;"></div>

      {% include footer.html %}

    </div>

  </body>

</html>
